body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('assets/header-bckground.png');
    background-size: cover;
    background-position: 0% 25%;
    color: white;
    height: 25vh;
    font-weight: 600;
    padding: 0 2.5em;
}

.search-bar {
    border-radius: 50em;
    display: flex;
    position: absolute;
    top: 22.5%;
    left: 50%;
    margin-left: -40vw;
    width: 80vw;
    height: 2.25em;
}

.search-bar input,
.search-bar button {
    border: 1px solid #D1D5DB;
    margin: 0;
}

.search-bar input {
    background-image: url('assets/search-icon.png');
    background-position: 3% 50%;
    background-repeat: no-repeat;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    padding: 0.2em 0.2em 0.2em 2.5em;
    margin: 0;
    width: 80%;
    color: #6B7280;
}

.search-bar button {
    border-left: none;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding: 0.2em 2em;
    margin: 0;
    color: #374151;
}

.movie-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    font-weight: 700;
    color: #DFDDDD;
}
